
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="room-list p-3">
  <div class="d-flex justify-content-between">
      <div class="avtar avtar-s rounded-circle text-success bg-light-success">
          <a href="/"> <i class="ti ti-chevron-left f-45"></i></a>
      </div>
      <div style="margin-top:20px;">
          <span class="badge bg-light-primary border border-primary custom-badge" >
              <h5 id="room-title">Living Room</h5>
          </span>
      </div>
      <div></div>
      {% include "modal/device_create_modal.html" %}
  </div>
</div>

{% comment %} Rooms Secction {% endcomment %}
<div class="p-3">
  <div class="row text-center">
    <div class="col-md-6 col-xl-12">
        <div style="
                height: 300px;
                background: url(https://img.freepik.com/free-photo/luxury-hotel-bedroom-illuminated-by-modern-lamps-generated-by-ai_188544-27990.jpg?semt=ais_hybrid&w=740&q=80) no-repeat center/cover;
                position: relative;
                color: white;
                text-align: center;
                border-radius: 13px;
              ">
        </div>
    
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="room-list p-3">
    <div class="d-flex justify-content-between">
        <div>
          <span class="badge bg-light-primary border border-primary custom-badge">
            <h5>Device</h5>
          </span>
        </div>
        <div></div>
      </div>
  </div>
</div>
<div class="card p-3">
  <div class="row  text-center" id="device-list"></div>
  <div class="room-list p-3">
      <div class="d-flex justify-content-between">
          <div></div>
          <div>
            <span class="badge bg-light-primary border border-primary custom-badge" id="openDeviceModal">
              <h5>  <i class="ti ti-circle-plus">Add Device</i></h5> 
            </span>
          </div>
      </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
  <script src="{% static 'room/room.js' %}"></script>
    <script>
       $(document).on("click", ".custom-switch", function () {
            let switchDiv = $(this);
            let deviceId = switchDiv.data("device-id");

            $.ajax({
                url: `/devices/${deviceId}/toggle/`,
                type: "POST",
                headers: { "X-CSRFToken": getCSRFToken() },
                success: function (res) {
                    const newState = res.device.state; // true = ON, false = OFF

                    // Toggle switch class
                    switchDiv.toggleClass("on off");

                    // Update text label
                    switchDiv.closest(".list-group-item")
                            .find("p.text-muted")
                            .text(newState ? "ON" : "OFF");

                    // Update avatar color
                    let avatar = $(`#avatar_${deviceId}`);
                    if (newState) {
                        avatar.removeClass("text-dark bg-light-dark")
                              .addClass("text-warning bg-light-warning");
                    } else {
                        avatar.removeClass("text-warning bg-light-warning")
                              .addClass("text-dark bg-light-dark");
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: "error",
                        title: "Failed!",
                        text: "Could not toggle device state."
                    });
                }
            });
        });



        $(document).ready(function(){
            const urlParams = new URLSearchParams(window.location.search);
            const room_id = urlParams.get("room_id");
            findByIdRoom(room_id);

            // Open modal when clicking the "plus" avatar div
            $("#openDeviceModal").click(function() {
                $("#deviceModal").modal("show");
            });

            // Submit device form
            $("#deviceForm").submit(function(e) {
                e.preventDefault();
                
                const urlParams = new URLSearchParams(window.location.search);
                const room_id = urlParams.get("room_id");
                const data = {
                    name: $("#device_name").val(),
                    device_id: $("#device_id").val(),
                    device_type: $("#device_type").val()
                };

                $.ajax({
                    url: `/devices/${room_id}/create/`,
                    type: "POST",
                    headers: { "X-CSRFToken": getCSRFToken() },
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    success: function(response) {
                        alert("Device added successfully!");
                        $("#deviceModal").modal("hide");
                        loadRoom(room_id); // reload device list
                    },
                    error: function(xhr) {
                      let msg = "Something went wrong!";

                      try {
                          let resp = JSON.parse(xhr.responseText);

                          // Case 1: {"error":{"device_id":["msg"]}}
                          if (resp.error) {
                              let field = Object.keys(resp.error)[0];
                              msg = resp.error[field][0];
                          }
                          // Case 2: {"device_id":["msg"]}  <-- DRF default
                          else {
                              let field = Object.keys(resp)[0];
                              msg = resp[field][0];
                          }

                      } catch (e) {
                          console.log("Error parsing response:", e);
                      }

                      Swal.fire({
                          icon: "error",
                          title: "Error",
                          text: msg,
                      });

                      if (onError) onError(xhr);
                  }
                });
            });
        });

    </script>
{% endblock %}